/Compilador de Triangle/Triangle/build/
/Compilador de Triangle/Triangle/dist/
/Compilador de Triangle/ide-triangle-v1.1.src/build/
/Compilador de Triangle/ide-triangle-v1.1.src/dist/
Compilador de Triangle/Documentación_Tarea_Programada_1.pdf
Compilador de Triangle/Proyecto_1_Triangle.zip
Compilador de Triangle/Triangle_Proyecto.zip
